/* Inizio regola generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* Fine regola generale */
img{
    width: 100%;
    height: 100%;
}
header{
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    max-width: 1200px;    
    margin: 0 auto;
}
/* Inizio header */

.header-nav-left{
    margin-top: 10px;
    width: 50%;          
}
.header-nav-right{
    margin-top: 10px;
    width: 50%;
}
.col-1, .img-logo{    
    float: left;      
}
.col-2{
    float: right;    
}
.img-logo{    
   width: 150px;    
}
ul{
    margin-right: 20px;
    margin-left: 10px;
}
li{
    list-style: none;
    padding: 10px;    
}
.inizia {
     border: 1px solid rgb(22, 129, 250);
     background-color: rgb(22, 129, 250);
     color: white;
     padding: 5px 10px 5px 10px;    
}
a{
    text-decoration: none;
    color: black;
}
/* Fine header  */

/* Inizio header bottom */
.header-bottom-top{  
    width: 100%;  
    min-height: 500px;    
    background-color: rgb(173, 200, 231);
}
.content-header-bottom{
    width: 80%;
    margin: 0 auto;    
    height: 300px;
    position: relative;
}
.testo-h1{
    padding-left: 5px;
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;    
    font-size: 28px;
}
.p-abbonamento{
    padding-top: 50px;
    width: 28%;
    margin: 0 auto;    
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
p{
    padding: 20px 10px;
    font-size: 12px;
}
i{
    font-size: 26px;
    margin-left: 5px;
    padding-bottom: 20px;
    font-weight: 900;
}
.prova-gratis{
    margin-left: 5px;
    padding-left: 20px;    
    background-color: rgb(22, 129, 250);
    color: white;
    padding: 5px 5px;
    font-size: 11px;
}
.jumbo{    
    
    width: 500px;
    margin: 0 auto;    
    display: inline-block;
    position: absolute;   
    top: 70px;
    right: 0;
}

/* Fine header bottom */
main{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}
/* Inizio main contein */
.main-contein{
    width: 70%;
    margin: 0 auto;    
    border: 1px solid red;
}
.titolo-main-top{
    width: 100%;
    margin: 0 auto;    
}
.titolo-main-top > h2{
    margin: 80px 0;
    font-size: 30px;
    font-weight: 900;
}
.input-div{    
    margin: 40px 0;
}
.input{
    margin-right: 20px;
}
.main-col{
    width: 100%;
    margin: 0 auto;
}
.col1{
    width: 29.33%;
    border: 1px solid #aaa;        
}
.col1 i, .col2 i, .col3 i{
    padding: 0;
}
.col2{
    width: 29.33%;
    border: 1px solid #aaa; 
    margin: 0 6%;     
}
.col3{
    width: 29.33%;
    border: 1px solid #aaa;  
        
}


/* Inizio col1 */
.singolo{
    width: 100%;       
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding: 5px;
}
/* Inizio tittolo price col1 */

.titolo-price h2{
    margin-left: 10px;
    padding-top: 20px;
    font-weight: 800;
    font-size: 18px;
}
.titolo-price div:nth-child(2){
    margin-left: 10px;
    padding: 20px 0;
    font-weight: 800;
    font-size: 14px;
}
.titolo-price div:nth-child(3){
    margin-left: 10px;
    color: #aaa;
    padding-bottom: 20px;
    font-size: 14px;
}
/* Fine tittolo price col1 */
/* Inizio top list & icon col1 */
.style-list > li{
    font-size: 11px;
}
.style-list i{
    font-size: 13px;        
}
/* Fine top list & icon col1 */
/* Inizio links  */
.href{
    margin-top: 10px;
    text-align: center;
}
.giorni-prova{        
    background-color: rgb(22, 129, 250);
    color: white;
    padding: 10px 40px 10px 40px;  
    font-size: 12px;  
}
.oppure a{    
    color: rgb(22, 129, 250);
    text-decoration: underline;        
}
.oppure p{
    margin-left: 10px;
}
/* Fine links */
/* Inizio background line */
.line-bg{
    margin: 20px 0;
    margin-left: 20px;
    width: 20%;
    height: 1px;
    background-color: #aaa;
}
/* Fine background line */
/* Inizio list bottom col1, col2, col3 */
.list-bottom-col1 h3{
    margin-left: 10px;
    font-weight: 800;
    font-size: 14px;
}
.list-bottom-col1 li{
    font-size: 11px;
}
.list-bottom-col1 i{
    color: rgb(22, 129, 250);
    font-size: 11px;
}
.list-bottom-col1 ul{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 100px;
}
/* Fine list bottom col1, col2, col3 */
/* Inizio col4 */
.col4{
    margin-top: 50px;
    display: inline-block;
    width: 100%;  
} 
.col-4{
    width: 100%;       
    text-align: center;
    border: 1px solid #aaa;
    padding: 5px;
    border-bottom: none;
}
.col-4 i{
    padding-bottom: 0;
}
.col4-footer{
    width: 100%;
    border: 1px solid #aaa;
    border-bottom: none;
    padding: 10px;
}
.col4-footer h4{
    font-size: 20px; 
    font-weight: 800;   
}
.col4-footer a {
    font-size: 14px;
}
.sottotitolo{
    margin-top: 20px;
    border: 1px solid #aaa;
    border-top: none;
    padding: 10px;
}
.sottotitolo h5{
    font-size: 15px;
}
.sottotitolo > p{
    padding-left: 0;
    font-size: 10px;
}
/* Fine col4 */
/* Inizio partner */
.partner{   
    margin-top: 80px; 
    width: 100%;     
}
.img-partner {
    width: 50%;
    float: left;
}
.img-partner img{
    padding-left: 10px;
}
.partner-h4{
    padding-top: 20px;
    padding-left: 40px;
    width: 50%;
    float: left;
}
.partner-h4 h4{
    font-size: 20px;
    font-weight: 800;
}
.partner-h4 p{
    padding: 0;
    padding: 25px 0;
    line-height: 30px;
    font-size: 15px;
}
.partner-h4 a{    
    padding: 10px 20px;
    border: 1px solid black;
}
/* Fine partner */
/* Inizio dropbox business */
.content-business{
    width: 100%;    
}
.content-business h4{
    font-size: 16px;
    font-weight: 800;
}
.content-business p{
    padding-left: 0;
    font-size: 12px;

}
.titolo-business{
    padding: 20px 10px;
}
.titolo-business h2{
    font-size: 27px;
    font-weight: 800;
}

.main-business{
    width: 100%;    
    /* Inizio mini1 business */
}.mini1-business{ 
    padding: 10px;  
    width: 100%;  
    padding-bottom: 50px;      
}
.switching{
    width: 29.33%;        
    float: left;
}
.dropbox-paper{
    text-decoration: underline;
}
.coordinate{
    width: 29.33%;     
    margin: 0 6%;           
    float: left;
}
.multi-device{
    width: 29.33%;      
    float: left;
}
/* Fine mini1 business */
/* Inizio mini2 business */
.mini2-business{    
    padding: 10px;
    width: 100%;       }
.integration{
    width: 29.33%;     
    float: left;
}
.send-file{
    width: 29.33%;  
    margin: 0 6%;       
    float: left;
}
.security{
    width: 29.33%;      
    float: left;
}
/* Fine mini2 business */
